 @media (max-width: 768px) {
         .stats-bar {
             flex-direction: column; /* Changes the layout to a vertical stack */
             align-items: stretch;
             padding: 20px;
        }
        .stat-item {
          margin-bottom: 20px;
        }
       .stat-item:last-child {
         margin-bottom: 0;
        }
        .footer-container {
          flex-direction: column; 
          align-items: center; 
        }

        .footer-column {
           margin: 20px 0;
           text-align: center; 
        } 

        .logo-group, .stats-group {
           justify-content: center; /* Centers the logo and stats horizontally */
        }
  
        .company-desc {
          text-align: center;
        }

        .footer-bottom {
          flex-direction: column; 
          text-align: center;
        }

        .slogan-bottom {
          margin-top: 10px;
        }
}